@page "/clientes"
@using Act17.Shared.Models;
@inject HttpClient http
@inject NavigationManager navegar

<h3 class="my-2">Clientes</h3>

@if (losClientes == null)

{
    <p class="my-2 mx-2"><em>Loading....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID Cliente</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Acciones</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in losClientes)
            {

                <tr>
                    <td>@cliente.ClienteId</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Correo</td>
                    <td>@cliente.Telefono</td>

                    @* @foreach (var pedido in cliente.Ventas)
            {
            <td>@pedido.VentaId  </td>
            }*@

                    <td>
                        <button class="btn-outline-danger mx-3" @onclick="(()=>Eliminar(cliente.ClienteId))"><span class="oi oi-trash"></span></button>
                        <button class="btn-outline-primary" @onclick="(()=>Modificar(cliente.ClienteId))">
                            <span class=" oi oi-pencil"></span>

                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
<button class="btn-secondary" @onclick="Agregar">Nuevo Cliente<span class="oi oi-plus mx-2"></span></button>
@code {
    private List<Cliente> losClientes;
    protected override async Task OnInitializedAsync()
    {
        losClientes = await http.GetFromJsonAsync<List<Cliente>>("api/clientes");
    }
    private void Agregar()
    {
        navegar.NavigateTo("/cliente/nuevo");
    }
    private async void Eliminar(int id)
    {
        await http.DeleteAsync($"api/clientes/{id}");
        losClientes = await http.GetFromJsonAsync<List<Cliente>>("api/clientes");
        StateHasChanged();
    }
    private void Modificar(int id)
    {
        navegar.NavigateTo($"/cliente/modificar/{id}");
    }

}
