@page "/pedidos"
@using Act17.Shared.Models;
@inject HttpClient http
@inject NavigationManager navegar

<h3 class="my-2">P E D I D O S</h3>
<button class="btn-secondary" @onclick="Agregar">Agregar pedido<span class="oi oi-plus mx-2"></span></button>

@if (lasVentas == null)

{
    <p class="my-2 mx-2"><em>Cargando datos...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Pedido</th>
                <th class="text-center">Cantidad a pagar</th>
                <th class="text-center">Cantidad de productos</th>
                <th class="text-center">Fecha </th>
                <th class="text-center">ID cliente</th>
                <th class="text-center">Productos</th>
                <th class="text-center">Acciones</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var venta in lasVentas)
            {

                <tr>
                    <td class="text-center">@venta.PedidoId</td>
                    <td class="text-center">@venta.Monto</td>
                    <td class="text-center">@venta.Cantidad</td>
                    <td class="text-center">@venta.Fecha_venta</td>
                    <td class="text-center">@venta.ClienteId</td>



                    @{
                        var nombresProductos = string.Join(", ", venta.Productos.Select(pedido => pedido.Nombre_producto));
                    }
                    <td class=" px-1">@nombresProductos</td>


                    <td class="text-center">
                        <button class="btn-outline-danger mx-3" @onclick="(()=>Eliminar(venta.PedidoId))"><span class="oi oi-trash "></span></button>
                        <button class="btn-outline-primary" @onclick="(()=>Modificar(venta.PedidoId))">
                            <span class=" oi oi-pencil"></span>

                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Pedido> lasVentas;

    protected override async Task OnInitializedAsync()
    {
        lasVentas = await http.GetFromJsonAsync<List<Pedido>>("api/pedidoes");
    }
    private void Agregar()
    {
        navegar.NavigateTo("/pedidos/nuevo");
    }
    private async void Eliminar(int id)
    {
        await http.DeleteAsync($"api/pedidoes/{id}");
        lasVentas = await http.GetFromJsonAsync<List<Pedido>>("api/pedidoes");
        StateHasChanged();
    }
    private void Modificar(int id)
    {
        navegar.NavigateTo($"/pedidos/modificar/{id}");
    }

}